/* Vars */
$base-font-family:          'Quattrocento Sans', Helvetica, Arial, sans-serif;
$base-font-size:            20px;
$large-font-size:           $base-font-size * 1.1;
$small-font-size:           $base-font-size * 0.875;
$tiny-font-size:            $base-font-size * 0.7;
$base-line-height:          1.7;
$small-line-height:         1.6;
$text-color:                #111111;
$link-color:                darken(#81a2be, 15%);

$content-width:             800px;
$on-tablet:                 768px;
$on-mobile:                 650px;
$small-font-cutoff:         450px;

$section-padding:           50px;
$spacing-unit:              40px;
$nav-height:                75px;
$footer-height:             100px;
$base-side-padding:         $section-padding;
$small-side-padding:        8px;

$nav-button-div-size:       50px;

$code-font-family:          Monaco, monospace;
$code-font-size:            16px;
$code-letter-spacing:       0.2px;
$code-line-height:          1.6;

$pantone-purple-impression: #8690b8;
$triad-salmon:              #ffddd3;
$complimentary-teal:        #70b2a0;

$nav-bg-color:              $complimentary-teal;
$header-bg-color:           #FAFAFA;
$intro-bg-color:            #4C5364;
$about-bg-color:            #C26868;
$about-text-color:          #FAFAFA;
$projects-bg-color:         #d3dcff;
$resume-bg-color:           #edf0ff;
$footer-bg-color:           white;
@import vars.css;
/* Terminal Stylesheet */
/* .section {
    width: 100%;
    padding: $section-padding $base-side-padding;
    @include media-query($on-mobile) {
        $scaling-padding: strip-units($base-side-padding / $on-mobile) * 100%;
        padding-left: $scaling-padding;
        padding-right: $scaling-padding;
    }
} */

/**
 * Syntax highlighting styles
 * tomorrow-pygments by MozMorris 
 * https://github.com/MozMorris/tomorrow-pygments
 */
.highlight {
    background: #1d1f21; color: #c5c8c6;
    .hll { background-color: #373b41 }
    .c { color: #969896 } /* Comment */
    .err { color: #cc6666 } /* Error */
    .k { color: #b294bb } /* Keyword */
    .l { color: #de935f } /* Literal */
    .n { color: #c5c8c6 } /* Name */
    .o { color: #8abeb7 } /* Operator */
    .p { color: #c5c8c6 } /* Punctuation */
    .cm { color: #969896 } /* Comment.Multiline */
    .cp { color: #969896 } /* Comment.Preproc */
    .c1 { color: #969896 } /* Comment.Single */
    .cs { color: #969896 } /* Comment.Special */
    .gd { color: #cc6666 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
    .gi { color: #b5bd68 } /* Generic.Inserted */
    .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
    .kc { color: #b294bb } /* Keyword.Constant */
    .kd { color: #b294bb } /* Keyword.Declaration */
    .kn { color: #8abeb7 } /* Keyword.Namespace */
    .kp { color: #b294bb } /* Keyword.Pseudo */
    .kr { color: #b294bb } /* Keyword.Reserved */
    .kt { color: #f0c674 } /* Keyword.Type */
    .ld { color: #b5bd68 } /* Literal.Date */
    .m { color: #de935f } /* Literal.Number */
    .s { color: #b5bd68 } /* Literal.String */
    .na { color: #81a2be } /* Name.Attribute */
    .nb { color: #c5c8c6 } /* Name.Builtin */
    .nc { color: #f0c674 } /* Name.Class */
    .no { color: #cc6666 } /* Name.Constant */
    .nd { color: #8abeb7 } /* Name.Decorator */
    .ni { color: #c5c8c6 } /* Name.Entity */
    .ne { color: #cc6666 } /* Name.Exception */
    .nf { color: #81a2be } /* Name.Function */
    .nl { color: #c5c8c6 } /* Name.Label */
    .nn { color: #f0c674 } /* Name.Namespace */
    .nx { color: #81a2be } /* Name.Other */
    .py { color: #c5c8c6 } /* Name.Property */
    .nt { color: #8abeb7 } /* Name.Tag */
    .nv { color: #cc6666 } /* Name.Variable */
    .ow { color: #8abeb7 } /* Operator.Word */
    .w { color: #c5c8c6 } /* Text.Whitespace */
    .mf { color: #de935f } /* Literal.Number.Float */
    .mh { color: #de935f } /* Literal.Number.Hex */
    .mi { color: #de935f } /* Literal.Number.Integer */
    .mo { color: #de935f } /* Literal.Number.Oct */
    .sb { color: #b5bd68 } /* Literal.String.Backtick */
    .sc { color: #c5c8c6 } /* Literal.String.Char */
    .sd { color: #969896 } /* Literal.String.Doc */
    .s2 { color: #b5bd68 } /* Literal.String.Double */
    .se { color: #de935f } /* Literal.String.Escape */
    .sh { color: #b5bd68 } /* Literal.String.Heredoc */
    .si { color: #de935f } /* Literal.String.Interpol */
    .sx { color: #b5bd68 } /* Literal.String.Other */
    .sr { color: #b5bd68 } /* Literal.String.Regex */
    .s1 { color: #b5bd68 } /* Literal.String.Single */
    .ss { color: #b5bd68 } /* Literal.String.Symbol */
    .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
    .vc { color: #cc6666 } /* Name.Variable.Class */
    .vg { color: #cc6666 } /* Name.Variable.Global */
    .vi { color: #cc6666 } /* Name.Variable.Instance */
    .il { color: #de935f } /* Literal.Number.Integer.Long */
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    /* @include clearfix; */
}

.about {
    background: $about-bg-color;
    padding: $section-padding 0;

    .section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .console-section {
        width: 100%;
        padding: 0 $small-side-padding;

        .console {
            @extend .highlight;
            @extend .container;
            $console-padding: 35px;
            padding: $console-padding;
            border-top: 20px solid #e5e5e5;
            border-radius: 4px;
            font-family: $code-font-family;
            font-size: $code-font-size;
            letter-spacing: $code-letter-spacing;
            line-height: $code-line-height;

            @include media-query($on-mobile) {
                padding: strip-units($console-padding / ($on-mobile - (2 * $base-side-padding))) * 100%;
            }

            > .indent {
                display: inline-block;
                padding-left: 32px;
                text-indent: -16px;
            }
        }
    }
}

