
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
          <!-- Add header elements for the title/icons -->
        <div class="main-header-content inner">
            {{ if .Site.Params.githubName }}
                <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
                <span class="genericon genericon-github" style="color:white;font-size:3em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
                    <span class="genericon genericon-linkedin" style="color:white;font-size:3em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.youtubeName}}
                <a class="bloglogo" href="https://www.youtube.com/{{ .Site.Params.youtubeName}}" target="_blank">
                    <span class="genericon genericon-youtube" style="color:white;font-size:3em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName}}
                <a class="bloglogo" href="https://www.twitter.com/{{ .Site.Params.twitterName}}" target="_blank">
                    <span class="genericon genericon-twitter" style="color:white;font-size:3em"></span>
                </a>
            &nbsp;
            {{end}}
            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
        <!-- <h3>Engineer + Tinkerer</h3> -->
        <!-- <a href="#intro"><img src="{{ .Site.BaseURL }}{{ .Site.Params.mainIcon }}" class="logo"></a> -->
        <!-- <div class="siteTitle">{{ .Site.Title }}</div> -->
        <!-- <div class="description">{{ .Site.Params.description }}</div> -->
        <!-- <div class="buttonbox"> -->
       <!-- {{ range .Site.Params.social }} -->
        <!--     <a href="{{ .url }}" class="btn btn-default btn-lg"><i class="icon-{{ lower .title }}"></i> <span class="network-name">{{ .title }}</span></a> -->
        <!-- {{ end }} -->
        <!-- </div> -->
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
