{{ partial "header.html" . }}
{{ partial "top-block.html" . }}
  {{ range $index, $element :=  .Data.Pages.ByWeight }}{{ if eq .Section "post" }}


    <div id="main">
        <!-- Intro -->
        {{ if modBool $index 2 }}<div id="intro" class="counterpoint">{{ else }}<div id="intro" class="point">{{ end}}
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                {{ if (isset .Params "icon") }}
                    <i class="lead-icon icon-{{ .Params.icon }}"></i>
                {{ end }}
                <h2>{{ .Title }}</h2>
                <p class="lead">
                    {{ .Content }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /Intro -->
      {{ end }}
      {{ if eq .Section "carousel" }}
      <!-- /Point -->


      <div class="callout">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                {{ if (isset .Params "icon") }}
                    <i class="callout-icon icon-{{ .Params.icon }}"></i>
                {{ end }}
                <p>{{ .Content }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
                <!-- Wrapper for slides -->
                <div class="carousel-inner owl-carousel">
                    {{ range .Params.carousel }}
                      <div class="item"> <blockquote><p>{{ .quote }}</p>&mdash; {{ .author }} <a href="{{ .url }}">{{ .quote_date }}</a></blockquote> </div>
                    {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Point -->
      {{ end }}
    {{ end }}

    </div>
    <!-- End main -->

        <!-- Call to Action -->
        <div id="action" class="call-to-action">
          <div class="container">
            <div class="row">
                <!-- Terminal -->
                <div id="about" class="about">
                  <div class="console-section">
                    <div class="console">
                      <span class="gp">>>></span> <span class="kn">from</span> <span class="nn">aboutme</span> <span class="kn">import</span><span class="o"> * </span>
                      <br/><br/>
                      <!-- Prompt -->
                      <span class="gp">>>></span> resume <br> ['<span class="s"><a href="tonyabboud_resume.pdf" target="_blank">pdf</a></span>'] <br><br> 
                      <span class="gp">>>></span> email <br> '<span class="s"><a href="mailto:tony.abboud54@gmail.com" target="_blank">tony.abboud54@gmail.com</a></span>' <br><br>
                      <span class="gp">>>></span> latest_work <br> {<br>
                        <div class="indent">'<span class="s">company</span>': '<span class="s">Lockheed Martin</span>',</div><br>
                        <div class="indent">'<span class="s">team</span>': '<span class="s">Advanced Concepts Lab</span>',</div><br>
                        <div class="indent">'<span class="s">date</span>': '<span class="s">April 2015 - Present</span>'</div><br>} <br><br>
                      <span class="gp">>>></span> education <br> {<br>
                        <div class="indent">'<span class="s">university</span>': '<span class="s">University of Maryland</span>',</div><br>
                        <div class="indent">'<span class="s">major</span>': '<span class="s">Electrical Engineering</span>',</div><br>
                        <div class="indent">'<span class="s">graduation</span>': '<span class="s">May 2014</span>'</div><br>} <br><br>
                      <span class="gp">>>></span> interests <br> ['<span class="s">teaching</span>', '<span class="s">music</span>', '<span class="s">kimchi</span>', '<span class="s">biking</span>', '<span class="s">sick threads</span>', '<span class="s">pretty websites</span>', '<span class="s">super smash</span>'] <br><br>
                      <span class="gp">>>></span> links <br> ['<span class="s"><a href="https://github.com/tdabboud" target="_blank">github</a></span>', '<span class="s"><a href="http://www.linkedin.com/in/tabboud" target="_blank">linkedin</a></span>', '<span class="s"><a href="http://youtube.com/tdabboud" target="_blank">youtube</a></span>']
                    </div>
                  </div>
                </div>
                <!-- End-Terminal -->
             <!--  <div class="col-md-10 col-md-offset-1 text-center">
                <h1 style="padding-bottom:.5em;">Getting Started</h1>
                <a href="https://github.com/spf13/hugo/releases" class="btn btn-lg btn-primary">Download <i class="icon-arrow-down"></i></a>
                <a href="/overview/quickstart" style="color:white;font-weight:300;">Quickstart Guide</a>
                <p>&nbsp;</p>
                <h4>Using Homebrew?</h4>
                <pre><code>brew install hugo</code></pre>
              </div> -->
            </div>
          </div>
        </div>
        <!-- /Call to Action -->

        <!-- Add Google Map -->
    <script type="text/javascript">
      function initMap() {
        var mapStyle =
            [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];

        var mapOptions = { center: {lat: 39.948146, lng: -75.170964},
                        zoom: 13,
                        scrollwheel: false,
                        styles: mapStyle
        };
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, mapOptions);
        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(39.948146, -75.170964),
            map: map,
        });
        // Center the map when the screen resizes
        google.maps.event.addDomListener(window, "resize", function() {
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer> </script>
    <div class="contact-map">
            <section id="map" class="map">
                <div id="map"></div>
            </section>
    </div>
        <!-- END Add Google Map -->

    <!-- Contact Form -->
    <div class="contact-block">
        <div class="container">
            <div class="row">
                <!-- Contact details -->
                <div class="span4 center">
                    <img alt="profile" src="profile.png">
                </div>
                {{ partial "contact.html" . }}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
